<div>

    <ul>
        <li><a href="/demo">Demo</a></li>
        <li><a href="/counter">Counter</a></li>
        <li><a href="/timer">Timer</a></li>
        <li><a href="/guage/1">guage with 1 as value</a></li>
    </ul>
</div>